# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet @RajaMBZ
consensus          @RajaMBZ
core/              @RajaMBZ
eth/               @RajaMBZ
mobile/            @RajaMBZ
p2p/               @RajaMBZ
